html {
    background-color: black;
}

.box {
    margin-top: 100px;
    margin-left: 20px;
    background-color: aquamarine;
    border: 10px solid aqua;
    border-radius: 10px;
    width: 250px;
    float: left;
    text-align: center;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.goldBox {
    margin-top: 100px;
    margin-left: 20px;
    background-color: yellow;
    border: 10px solid goldenrod;
    border-radius: 10px;
    width: 250px;
    float: left;
    text-align: center;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

h1 {
    font-size: 30px;
}
  
h2 {
    font-size: 20px;
}

h3 {
    font-size: 45;
    color: #596600;
}
  
p {
    font-size: 14px;
}

button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 50px;
    border: 4px double #cccccc;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
  }
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button:hover {
    background-color: #f7c2f9;
  }

