.header {
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 25px;
    padding: 10px;
       }
.description {
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
    padding: 5px;
    width: 500px;
       }
html {
    background-image: url('https://64.media.tumblr.com/a3ec55047221984270c8bbdfdc2367ad/68e3639b800c3b4a-b5/s640x960/ac1287bb461e4b7a48bdbec2b994b827e17287a3.gifv');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 50px;
  border: 4px double #cccccc;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: '✅';
  position: absolute;
  opacity: 0;
  top: -2px;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color: #f7c2f9;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}
box {
  margin: 5px;
  padding: 5px;
  float: left;
}
.ad{ 
  float: none; 
  color: violet; 
  font-weight: bolder; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 250px;
}
.button{
  color: white;
  background-color: green;
  border: 5px solid greenyellow;
  border-radius: 10px;
  width: fit-content;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: static;
}
.button:hover{
  opacity: 75%;
}
article {
    float: right;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    width: 1880px;
}
body {
    margin: 0;
}
